global:
  scrape_interval:     10s # By default, scrape targets every 10 seconds.
  evaluation_interval: 15s # Evaluate rules every 15 seconds.

scrape_configs:
{% for host in groups['validators'] %}
  - job_name: {{ hostvars[host].name }}

    scrape_interval: 5s

    static_configs:
      - targets: ['{{ hostvars[host].internal_ip }}:26660']

  - job_name: {{ hostvars[host].name }}-node-exporter

    scrape_interval: 5s

    static_configs:
      - targets: ['{{ hostvars[host].internal_ip }}:9100']

{% endfor %}

{% for host in groups['loadrunners'] %}
  - job_name: loadrunner-node-exporter

    scrape_interval: 5s

    static_configs:
      - targets: ['{{ hostvars[host].internal_ip }}:9100']

{% endfor %}

{% for host in groups['ephemeral'] %}
  - job_name: {{ hostvars[host].name }}

    scrape_interval: 5s

    static_configs:
      - targets: ['{{ hostvars[host].internal_ip }}:26660']

  - job_name: {{ hostvars[host].name }}-node-exporter

    scrape_interval: 5s

    static_configs:
      - targets: ['{{ hostvars[host].internal_ip }}:9100']

{% endfor %}
